kram-scene > :not([slot="rendering"]) {
  border: 5px solid cyan;
}

kram-scene > [slot="rendering"] {
  border: 5px solid yellow;
}

kram-scene > p {
  grid-column: 3 / span2;
}
kram-scene > h1 {
  grid-column: 2;
}
kram-scene > kram-code {
  grid-column: 2 / span 2;
}

kram-nav {
  border: 5px solid magenta;
}

kram-main {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  width: 100%;
}

kram-flow {
  display: contents;
}

kram-code {
  display: block;
  white-space: pre;
}
